#inicio-sesion{
    border: 3px solid rgba(0, 0, 0, 0.307);
    border-radius: 0%;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.468);
    height: auto;
}

body { 
    background-color: rgba(224, 227, 233, 0.445);
}

#caja-formulario{
  margin-top: 5%;
}


#caja-registro{
    margin-top: 1%;
}

#caja-inputs{
    display: grid;
    justify-content: center;
}

h2{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


